[app="app.marketapps"] .section {
	position: absolute;
	border:1px solid #fff;
	width:150px;
	height:100px;
	line-height:100px;
	text-align: center;
}

[app="app.marketapps"] .section[context="focused"] {
		border-color:red;
}
